@tailwind base;
@tailwind components;
@tailwind utilities;

.scale-0 {
  transform: scale(0);
}

.transition-transform {
  transition-property: transform;
}

.transition-opacity {
  transition-property: opacity;
}
